@font-face{
font-family: "Aladdin";  src: url("~@/assets/fnts/SBF_L010.woff") format("woff");
}
@font-face{
font-family: "Algerian";  src: url("~@/assets/fnts/SBF_A020.woff") format("woff");
}
@font-face{
font-family: "Ashley Sample";  src: url("~@/assets/fnts/SBF_A047.woff") format("woff");
}
@font-face{
font-family: "Axy Sample";  src: url("~@/assets/fnts/SBF_A059.woff") format("woff");
}
@font-face{
font-family: "Bergell";  src: url("~@/assets/fnts/Bergell_LET_Plain_1.0.woff") format("woff");
}
@font-face{
font-family: "Bisque Sample";  src: url("~@/assets/fnts/SBF_B040.woff") format("woff");
}
@font-face{
font-family: "Blackwood";  src: url("~@/assets/fnts/FFTE0009.woff") format("woff");
}
@font-face{
font-family: "Blazing";  src: url("~@/assets/fnts/Blazing-Italic.woff") format("woff");
}
@font-face{
font-family: "Bolt Sample";  src: url("~@/assets/fnts/SBF_B081.woff") format("woff");
}
@font-face{
font-family: "Bookler Sample";  src: url("~@/assets/fnts/NU0023.woff") format("woff");
}
@font-face{
font-family: "Boston Sample";  src: url("~@/assets/fnts/SBF_B082.woff") format("woff");
}
@font-face{
font-family: "Bowen";  src: url("~@/assets/fnts/SBF_B102.woff") format("woff");
}
@font-face{
font-family: "Bremen";  src: url("~@/assets/fnts/SBF_B118.woff") format("woff");
}
@font-face{
font-family: "Brody Sample";  src: url("~@/assets/fnts/SBF_B067.woff") format("woff");
}
@font-face{
font-family: "Brown";  src: url("~@/assets/fnts/SBF_B124.woff") format("woff");
}
@font-face{
font-family: "Brush Sample";  src: url("~@/assets/fnts/SBF_B066.woff") format("woff");
}
@font-face{
font-family: "Cardboard";  src: url("~@/assets/fnts/SBF_C074.woff") format("woff");
}
@font-face{
font-family: "Checkmate";  src: url("~@/assets/fnts/SBF_C017.woff") format("woff");
}
@font-face{
font-family: "Chevalier";  src: url("~@/assets/fnts/SBF_C023.woff") format("woff");
}
@font-face{
font-family: "Chiller";  src: url("~@/assets/fnts/CHILLER.woff") format("woff");
}
@font-face{
font-family: "Chinoise";  src: url("~@/assets/fnts/SBF_C024.woff") format("woff");
}
@font-face{
font-family: "Chixs";  src: url("~@/assets/fnts/SBF_C126.woff") format("woff");
}
@font-face{
font-family: "Choc Sample";  src: url("~@/assets/fnts/SBF_C022.woff") format("woff");
}
@font-face{
font-family: "Clowie";  src: url("~@/assets/fnts/SBF_C141.woff") format("woff");
}
@font-face{
font-family: "Comic Sans";  src: url("~@/assets/fnts/comic.woff") format("woff");
}
@font-face{
font-family: "Cool Heavy";  src: url("~@/assets/fnts/HH0023.woff") format("woff");
}
@font-face{
font-family: "Croobie";  src: url("~@/assets/fnts/croobie.woff") format("woff");
}
@font-face{
font-family: "Dragonwick";  src: url("~@/assets/fnts/SBF_D015.woff") format("woff");
}
@font-face{
font-family: "Elite Sample";  src: url("~@/assets/fnts/SBF_E012.woff") format("woff");
}
@font-face{
font-family: "Eye Sample";  src: url("~@/assets/fnts/SBF_E010.woff") format("woff");
}
@font-face{
font-family: "Fangular";  src: url("~@/assets/fnts/SBF_F007.woff") format("woff");
}
@font-face{
font-family: "Fardial";  src: url("~@/assets/fnts/FF0018.woff") format("woff");
}
@font-face{
font-family: "Fariet";  src: url("~@/assets/fnts/SBF_F012.woff") format("woff");
}
@font-face{
font-family: "Fasson";  src: url("~@/assets/fnts/SBF_F003.woff") format("woff");
}
@font-face{
font-family: "Fax Smple Text";  src: url("~@/assets/fnts/SBF_F044.woff") format("woff");
}
@font-face{
font-family: "Fortify";  src: url("~@/assets/fnts/FORTE.woff") format("woff");
}
@font-face{
font-family: "Gogo";  src: url("~@/assets/fnts/SBF_G020.woff") format("woff");
}
@font-face{
font-family: "Harmony Sample";  src: url("~@/assets/fnts/SBF_H029.woff") format("woff");
}
@font-face{
font-family: "Home Port";  src: url("~@/assets/fnts/arialbd.woff") format("woff");
}
@font-face{
font-family: "Joie Sample";  src: url("~@/assets/fnts/SBF_J007.woff") format("woff");
}
@font-face{
font-family: "Jokerman";  src: url("~@/assets/fnts/SBF_J012.woff") format("woff");
}
@font-face{
font-family: "Kervey";  src: url("~@/assets/fnts/SBF_K007.woff") format("woff");
}
@font-face{
font-family: "Latin";  src: url("~@/assets/fnts/SBF_L004.woff") format("woff");
}
@font-face{
font-family: "Lithograph";  src: url("~@/assets/fnts/LITHOGRB.woff") format("woff");
}
@font-face{
font-family: "Minstral Sample";  src: url("~@/assets/fnts/SBF_M020.woff") format("woff");
}
@font-face{
font-family: "Murray Hill";  src: url("~@/assets/fnts/SBF_M026.woff") format("woff");
}
@font-face{
font-family: "New Berolina";  src: url("~@/assets/fnts/SBF_N006.woff") format("woff");
}
@font-face{
font-family: "Nice Block";  src: url("~@/assets/fnts/SBF_I016.woff") format("woff");
}
@font-face{
font-family: "Nicole Sample";  src: url("~@/assets/fnts/SBF_N019.woff") format("woff");
}
@font-face{
font-family: "Novem";  src: url("~@/assets/fnts/SBF_N035.woff") format("woff");
}
@font-face{
font-family: "Nutty";  src: url("~@/assets/fnts/poornut_.woff") format("woff");
}
@font-face{
font-family: "Old English";  src: url("~@/assets/fnts/SBF_O003.woff") format("woff");
}
@font-face{
font-family: "Old Style";  src: url("~@/assets/fnts/SBF_O004.woff") format("woff");
}
@font-face{
font-family: "Old Town";  src: url("~@/assets/fnts/SBF_O002.woff") format("woff");
}
@font-face{
font-family: "Orabella";  src: url("~@/assets/fnts/FF0002.woff") format("woff");
}
@font-face{
font-family: "Oncite";  src: url("~@/assets/fnts/FF0008.woff") format("woff");
}
@font-face{
font-family: "Onourway";  src: url("~@/assets/fnts/FF0001.woff") format("woff");
}
@font-face{
font-family: "Patern";  src: url("~@/assets/fnts/SBF_P037.woff") format("woff");
}
@font-face{
font-family: "Peignot Sample";  src: url("~@/assets/fnts/SBF_P019.woff") format("woff");
}
@font-face{
font-family: "Pepita Sample";  src: url("~@/assets/fnts/SBF_P021.woff") format("woff");
}
@font-face{
font-family: "Peteau";  src: url("~@/assets/fnts/SBF_P067.woff") format("woff");
}
@font-face{
font-family: "Pirate";  src: url("~@/assets/fnts/Booter-FiveZero.woff") format("woff");
}
@font-face{
font-family: "Plinal";  src: url("~@/assets/fnts/SBF_P039.woff") format("woff");
}
@font-face{
font-family: "Power";  src: url("~@/assets/fnts/SBF_P040.woff") format("woff");
}
@font-face{
font-family: "Prince";  src: url("~@/assets/fnts/SBF_P016.woff") format("woff");
}
@font-face{
font-family: "Prista";  src: url("~@/assets/fnts/PRISTINA.woff") format("woff");
}
@font-face{
font-family: "Quicksilver";  src: url("~@/assets/fnts/SBF_Q002.woff") format("woff");
}
@font-face{
font-family: "Rage Sample";  src: url("~@/assets/fnts/RAGE.woff") format("woff");
}
@font-face{
font-family: "Raphael";  src: url("~@/assets/fnts/SBF_R001.woff") format("woff");
}
@font-face{
font-family: "Rave";  src: url("~@/assets/fnts/RAVIE.woff") format("woff");
}
@font-face{
font-family: "Revue";  src: url("~@/assets/fnts/SBF_R032.woff") format("woff");
}
@font-face{
font-family: "Rialto";  src: url("~@/assets/fnts/SBF_R019.woff") format("woff");
}
@font-face{
font-family: "Rush Sample";  src: url("~@/assets/fnts/SBF_R043.woff") format("woff");
}
@font-face{
font-family: "Shop Sample";  src: url("~@/assets/fnts/SBF_S026.woff") format("woff");
}
@font-face{
font-family: "Showcard";  src: url("~@/assets/fnts/SHOWG.woff") format("woff");
}
@font-face{
font-family: "Snap ITC";  src: url("~@/assets/fnts/SNAP____.woff") format("woff");
}
@font-face{
font-family: "Speed";  src: url("~@/assets/fnts/SBF_S046.woff") format("woff");
}
@font-face{
font-family: "Spritz";  src: url("~@/assets/fnts/SBF_S020.woff") format("woff");
}
@font-face{
font-family: "Stop Sample";  src: url("~@/assets/fnts/SBF_S024.woff") format("woff");
}
@font-face{
font-family: "Sudden";  src: url("~@/assets/fnts/SBF_S015.woff") format("woff");
}
@font-face{
font-family: "Sureal";  src: url("~@/assets/fnts/SBF_S005.woff") format("woff");
}
@font-face{
font-family: "Tango Sample";  src: url("~@/assets/fnts/SBF_T002.woff") format("woff");
}
@font-face{
font-family: "Tencil";  src: url("~@/assets/fnts/SBF_T005.woff") format("woff");
}
@font-face{
font-family: "Thor Sample";  src: url("~@/assets/fnts/SBF_T006.woff") format("woff");
}
@font-face{
font-family: "Tyrant";  src: url("~@/assets/fnts/SBF_T040.woff") format("woff");
}
@font-face{
font-family: "Unreal";  src: url("~@/assets/fnts/UnrealT.woff") format("woff");
}
@font-face{
font-family: "Very Sample";  src: url("~@/assets/fnts/SBF_V002.woff") format("woff");
}
@font-face{
font-family: "Visit Sample";  src: url("~@/assets/fnts/SBF_V016.woff") format("woff");
}
@font-face{
font-family: "Vlad Sample";  src: url("~@/assets/fnts/SBF_V006.woff") format("woff");
}
@font-face{
font-family: "Wild West";  src: url("~@/assets/fnts/SBF_W005.woff") format("woff");
}
@font-face{
font-family: "X001 Sample";  src: url("~@/assets/fnts/SBF_X001.woff") format("woff");
}
@font-face{
font-family: "Zero Sample";  src: url("~@/assets/fnts/ZEROHOUR.woff") format("woff");
}
@font-face{
font-family: "Zaph Sample";  src: url("~@/assets/fnts/SBF_Z002.woff") format("woff");
}
@font-face{
font-family: "SBF Magneto Bold";  src: url("~@/assets/fnts/MAGNETOB.woff") format("woff");
}
@font-face{
font-family: "SBF_M007";  src: url("~@/assets/fnts/SBF_M007.woff") format("woff");
}
@font-face{
font-family: "Sleepy Hollow";  src: url("~@/assets/fnts/SleepyHollow.woff") format("woff");
}
@font-face{
font-family: "Impact";  src: url("~@/assets/fnts/impact.woff") format("woff");
}
@font-face{
font-family: "SBF_G001";  src: url("~@/assets/fnts/SBF_G001.woff") format("woff");
}
